# Python bytecode
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual environment
venv/
env/
.env

# IDE specific files
.vscode/
.idea/

# Jupyter Notebook
.ipynb_checkpoints

# Local development settings
*.env
.env.local